@import '~bootswatch/dist/sandstone/variables';
@import '~bootstrap/scss/bootstrap';
@import '~bootswatch/dist/sandstone/bootswatch';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --footer-bg-color: #f8f8f8;
  --font-primary-color: #363636;
  --menuItem-hover-color: #acacac;
  --anchor-hover-color: #e89b3c;
  --mainRed: #e21b1b;
  --mainOrange: #f5aa1c;
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
  font-family: 'Roboto', sans-serif;
  color: var(--font-primary-color);
  font-size: 1.5rem;
  line-height: 1.618;
}

section {
  padding: 5rem 3rem;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: 'Bebas Neue';
}

h1 {
  font-size: 3rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

a {
  cursor: pointer;
  color: var(--font-primary-color) !important;
  text-decoration: none;

  &:hover {
    color: var(--anchor-hover-color) !important;
  }
}

// Stop the alt text and the broken image icon from showing before image has loaded
img:not([src]) {
  visibility: hidden;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.form-floating > .form-control {
  height: calc(4.2rem + 2px);
}

.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label {
  transform: scale(0.65) translateY(-0.5rem) translateX(0.15rem);
}

.swatch-size[data-disabled='true'] {
  background: linear-gradient(
    to top left,
    rgba(218, 213, 190, 0) 0,
    rgba(218, 213, 190, 0) calc(50% - 0.8px),
    #dad5be 50%,
    rgba(218, 213, 190, 0) calc(50% + 0.8px),
    rgba(218, 213, 190, 0) 100%
  );
  background-color: #efefef;
}
